/* Global styles */
body {
    background-color: #f8f9fa;
}

/* Dark Mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .modal-content {
    background-color: #444;
    color: #fff;
}

.dark-mode .modal-header {
    border-bottom: 1px solid #666;
}

.dark-mode .nav-link.active {
    background-color: #666;
    color: #fff;
}

.dark-mode .nav-tabs .nav-link {
    color: #fff;
}

.dark-mode .nav-tabs .nav-link.active {
    color: #fff;
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode textarea {
    background-color: #666;
    color: #fff;
    border: 1px solid #555;
    transition: background-color 0.3s ease;
}

.dark-mode input[type="text"]::placeholder,
.dark-mode input[type="email"]::placeholder,
.dark-mode textarea::placeholder {
    color: #aaa;
}

.dark-mode input[type="text"]:focus,
.dark-mode input[type="email"]:focus,
.dark-mode textarea:focus {
    background-color: #555;
    color: #fff;
}

.dark-mode table.table thead th {
    color: #fff;
    background-color: #555;
    border-color: #444;
}

/* Row Highlighting */
#snippetTable tbody tr.active {
    background-color: #f0f0f0;
}

/* Gallery Image Styling */
.gallery-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Snippet Table Row Styles */
.dark-mode #snippetTable tbody tr {
    color: #fff;
}

.dark-mode #snippetTable tbody tr td {
    color: #fff;
}

.dark-mode #snippetTable tbody tr td[contenteditable="true"] {
    background-color: #555;
    color: #fff;
}

/* Adjust Snippet Text Column Width */
#snippetTable td:nth-child(4) {
    width: 300%;
}

/* Make Snippet Library Modal Wider */
.modal-dialog {
    max-width: 80%;
}

/* Visualizer Styles */
.visualizer {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    border: 1px solid #000;
    background-color: #f3f3f3;
}

#recordingTimer {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

/* Recording Panel Styles */
#recordingPanel {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}
